In [1]:
import random
import seaborn as sns
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

%matplotlib inline
%config InlineBackend.figure_format='retina'
import warnings
warnings.filterwarnings("ignore")

In [ ]:
sns.axes_style() # посмотреть параметры стиля

# поменять параметры и задать этот стиль для всех графиков
sns.set_style("white", {'ytick.left': True, 'axes.spines.right': False, 'axes.spines.top': False})

---

In [83]:
# https://www.kaggle.com/kingabzpro/heart-disease-patients - описание переменных см здесь
heart = pd.read_csv('heart_disease_patients.csv')
heart.head()

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope
0,1,63,1,1,145,233,1,2,150,0,2.3,3
1,2,67,1,4,160,286,0,2,108,1,1.5,2
2,3,67,1,4,120,229,0,2,129,1,2.6,2
3,4,37,1,3,130,250,0,0,187,0,3.5,3
4,5,41,0,2,130,204,0,2,172,0,1.4,1

In [ ]:
heart.info()

In [86]:
heart['sex'] = heart['sex'].astype(str)
heart['chestpaintype'] = heart['cp'].astype(str)
heart['fastingbldsgr'] = heart['fbs'].astype(str)
heart['restecg'] = heart['restecg'].astype(str)
heart['exang'] = heart['exang'].astype(str)
heart['slope'] = heart['slope'].astype(str)

heart_num = heart.drop(['sex', 'chestpaintype', 'fastingbldsgr', 'restecg', 'exang', 'cp', 'fbs', 'slope'], axis=1)
heart_cat = heart[['sex', 'chestpaintype', 'fastingbldsgr', 'restecg', 'exang', 'slope']]

In [215]:
heart_num.head()

   id  age  trestbps  chol  thalach  oldpeak
0   1   63       145   233      150      2.3
1   2   67       160   286      108      1.5
2   3   67       120   229      129      2.6
3   4   37       130   250      187      3.5
4   5   41       130   204      172      1.4

In [216]:
heart_cat.head()

  sex chestpaintype fastingbldsgr restecg exang slope
0   1             1             1       2     0     3
1   1             4             0       2     1     2
2   1             4             0       2     1     2
3   1             3             0       0     0     3
4   0             2             0       2     0     1

In [250]:
# 1. сколько мужчин и сколько женщин в датасете?

In [251]:
# 2. как связано значение холестерола и возраст?

In [252]:
# 3. как распределена переменная chol?

In [253]:
# 4. сравните медианный уровень/распределение показателей давления у людей с разным типом боли

In [254]:
# теперь эти два графика рядом

In [255]:
# 5. pairplot по числовым переменным

In [256]:
# 6. какой тип боли чаще всего испытывают пациенты? Покажите мужчин и женщин по отдельности

In [257]:
# 7. покажите какой тип боли чаще всего испытывают женщины и мужчины на разных графиках

In [258]:
# chestpaintype - cholesterol distribution

In [259]:
# 8. heatmap

---

Познакомьтесь с данными, используя визуализацию.

Не всё в EDA требует визуализации, поэтому можно включить сюда же любой другой анализ, какой вам хочется и кажется полезным - с графиками или без. Поскольку это EDA, то особую красоту наводить не понадобится, но постарайтесь оформить графики по рекомендациям, которые мы прошли на уроке.

In [262]:
# https://www.kaggle.com/zynicide/wine-reviews?select=winemag-data_first150k.csv
wine = pd.read_csv('winemag-data_first150k.csv')

In [300]:
wine.head(10)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
5,5,Spain,"Deep, dense and pure from the opening bell, th...",Numanthia,95,73.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
6,6,Spain,Slightly gritty black-fruit aromas include a s...,San Román,95,65.0,Northern Spain,Toro,NaN,Tinta de Toro,Maurodos
7,7,Spain,Lush cedary black-fruit aromas are luxe and of...,Carodorum Único Crianza,95,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
8,8,US,This re-named vineyard was formerly bottled as...,Silice,95,65.0,Oregon,Chehalem Mountains,Willamette Valley,Pinot Noir,Bergström
9,9,US,The producer sources from two blocks of the vi...,Gap's Crown Vineyard,95,60.0,California,Sonoma Coast,Sonoma,Pinot Noir,Blue Farm

In [297]:
# какая связь связь между ценой на вино и его оценкой?

In [290]:
# какие сорта вина (variety) чаще встречаются в датасете и у какого из них лучшие оценки?

In [296]:
# как распределены цены на французское вино?

In [ ]:
# сравните распределение оценок для трёх самых "винных" стран

In [298]:
# вино из каких стран имеется в датасете? Оформите график как будто для публики

In [ ]:
# какие винодельни продают самое дорогое вино?

In [ ]:
# любые другие графики и расчёты приветствуются